body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background: #FFFFFF  repeat-y fixed ;
    background-size: 100%,100%;
    font-family: "Microsoft Yahei","Hiragino Sans GB",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
    color: #333;
}
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{
    display:block;
}
*:focus{
    outline: none;
}
a{
    outline: none;
    color:darkcyan;
    text-decoration: none;
}
img{
    border: none;
}
#whole_container{
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
header{
    position: relative;
    font-family: "Microsoft Yahei",sans-serif;
    background-color:rgba(20,20,20,0.8);
    width: 100%;
    height: 48px;
    line-height: 3em;
    color: white;
    z-index: 100;
    padding: 2px 0;
}
#logo{
    float: left;
    margin-top: 3px;
}
#logo img{
    border:0 none;
}
header nav>ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 48px;
    float: left;
    overflow: hidden;
}
header nav{
    height: 48px;
    overflow: hidden;
}
header nav>ul li{
    float: right;
    width: auto;
    margin-right: 2em;
    height: 100%;
}
header nav>ul li a,header nav>ul li a.current {
    display: block;
    text-align: center;
    font-size: 1.6em;
    text-decoration: none;
    transition:color 0.3s linear;
    z-index: 5;
    outline: none;
    color: white;
}
header nav>ul li a.current{
    color: #E09F80;
}
header nav>ul li a:hover{
    color:#E09F80;
}
header div.search{
    float: right;
    position: relative;
    height: 3em;
}
header div.search input{
    margin: auto;
    left: 0;
    top:0;
    bottom: 0;
    border:solid gray 1px;
    height: 1.5em;
    padding-right: 2em;
    border-radius: 1em;
    font-family:  "Microsoft Yahei";
    transition: border 0.5s linear,width 0.5s linear;
    text-indent: 1em;
    font-weight: normal;

}
header div.search input:focus{
    border: solid cornflowerblue 1px;
}
header div.search a,#search-shade{
    position: absolute; 
    width: 1.5em;
    height:1.5em;
    top:0.75em;
    right:0.2em;
}
#search-shade{
    display: none;
}
header div.search a img{
    position: absolute;
    margin: auto;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 0 none;
    width: 1.175em;
    height: 1.175em;
}
footer {
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 50px ;
    text-align: center;
    font-size: 1em;
    color: darkcyan;
    line-height: 60px;
    height:60px;
    margin-top: -60px;
}
#power_info{
    display: inline-block;
    height: 100%;
    line-height: inherit;
}
footer a.github{
    display: inline-block;
    margin-left: 5px;
}
footer a.github img{
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

#go-top{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 35px;
    height: 35px;
    display: block;
    border-top-left-radius: 35px;
    background:lightyellow no-repeat url(/static/image/common/arrow_up.png) 75% 75%;
    opacity: 0.7;
    transition: all 0.2s ;
}
#go-top:hover{
    width: 50px;
    height: 50px;
    border-top-left-radius: 50px;
    opacity: 1;
}
#header_drop{
    float: right;
    margin:0 15px;
    width: 48px;
    height: 48px;
}
#header_drop_btn{
    cursor: pointer;
}
#header_drop_list{
    position: absolute;
    width: 150px;
    right: 15px;
    top:48px;
    color: #333;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 12px 3px rgba(0,0,0,0.15);
    display: none;
}

#header_drop_list ul{
    margin: 0px;
    padding: 5px 0px ;
    list-style-type: none;
}
#header_drop_list ul li{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 17px;
}
#header_drop_list ul li:hover{
    background-color: #4078c0;
    color: white;
}
#header_drop_list ul li a{
    display: block;
    color: #333;
}
#header_drop_list ul li a:hover{
    color: white;
}

#header_drop_arrow,#header_drop_arrow_border{
    position: absolute;
    width: 0;
    border: 8px solid;
    right: 16px;
}
#header_drop_arrow_border{
    top: -16px;
    border-color: transparent transparent lightgray transparent;
}
#header_drop_arrow{
    top: -15px;
    border-color: transparent transparent white transparent;
}
#header_drop_user_info{
    height: 40px;
    line-height: 40px;
    padding: 0px 0px 5px;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
}
#header_drop_user_info *{
    display: inline-block;
    vertical-align: middle;
}
#header_drop_user_info img{
    margin:0 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#header_drop_user_info span{
    width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: crimson;
}