body{
    background: #FFFFFF  url(/static/image/common/background.jpg) repeat-y fixed ;
    background-size: 100%,100%;
}

#center{
    width: 100%;
    padding-bottom: 60px;
}
#main{
    width: 80%;
    margin: 30px auto;
}
.content{
    padding: 2em 2.5em 1em 2.5em;
    background-color: rgba(255,255,255,0.95);
    margin-bottom:2.5em ;
    border-radius: 0.5em;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);

}
article.post{
    word-wrap: break-word;
}
article.post img{
    max-width: 100%;
}

h2.title{
    font-size: 2em;
    margin: 0px 0px 20px;
    font-weight: 500;
    overflow: hidden;
}
@-moz-keyframes title-show{
    0% {
        top:0.6em;
        left:2.5em;
        opacity: 0;
    }
    80%{
        opacity: 0.75;
    }
    100%{
        top:0em;
        left: 0em;
        opacity: 1;
    }
}
@-webkit-keyframes title-show{
    0% {
        top:0.6em;
        left:2.5em;
        opacity: 0;
    }
    80%{
        opacity: 0.75;
    }
    100%{
        top:0em;
        left: 0em;
        opacity: 1;
    }
}
@-ms-keyframes title-show{
    0% {
        top:0.6em;
        left:2.5em;
        opacity: 0;
    }
    80%{
        opacity: 0.75;
    }
    100%{
        top:0em;
        left: 0em;
        opacity: 1;
    }
}
@keyframes title-show{
    0% {
        top:0.6em;
        left:2.5em;
        opacity: 0;
    }
    80%{
        opacity: 0.75;
    }
    100%{
        top:0em;
        left: 0em;
        opacity: 1;
    }
}
h2.title a{
    position:relative;
    color:darkcyan;
    text-decoration: none;
    transition: color 0.2s linear;
    font-family: inherit;
    opacity: 0;
}

h2.title a:hover{
    color: lightseagreen;
}
.what{
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin: 20px 0px ;
}
.what p,.what xmp{
    white-space: pre-wrap;
    margin-bottom: 1em;
}
.info{
    color: darkslategray;
    font-size: 0.5em;
    width: 100%;
}
.date,.tag,.viewCount{
    display: inline-block;
    position: relative;
    height: 24px;
    line-height: 24px;
    margin-right: 2em;
}
.date img,.tag img{
    display:block;
    position: absolute;
    margin:auto;
    top:0;
    bottom: 0;
    width: 16px;
    height: 16px;
}
.date time{
    display: block;
    margin-left: 24px;
    font-size: 2em;
}
.tag a{
    display: block;
    margin-left: 24px;
    text-decoration: none;
    font-size: 2em;
    color: darkslategray;
}
.tag a:hover{
    color: darksalmon;
}
.viewCount{
    font-size: 16px;
    color: gray;
}
#pager{
    background-color: rgba(255,255,255,0.9);
    height: 1.5em;
    font-size: 1.5em;
    border-radius: 0.2em;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.15);
    position: relative;
}
#pager a.pre,a.next{
    height: 1.5em;
    line-height: 1.5em;
    color: darkslategrey;
    transition: color 0.2s linear;
    text-decoration: none;
    position: absolute;
}
#pager a.pre:hover,a.next:hover{
    color:darkslategray;
}
#pager a.pre{
    left:1em;
}
#pager a.next{
    right: 1em;
}

#nothing{
    font-size:2em;
    color: darkslategrey;
}


