{% extends "mainBase.html" %}
{% block description %}<meta name="description" content="读过的书,心灵走过的旅途">{% endblock %}
{% block title %}YNestA | 读书{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/dist/css/books.min.css">
{% endblock %}
{% block searchType %}"search-book"{% endblock %}
{% block center %}
    <div id="center">
    {% include "booksCenter.html" %}
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/dist/js/books.js"></script>
{% endblock %}