<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}{% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    {% block keywords %}<meta name="keywords" content="YNestA,个人博客,blog,Web">{% endblock %}
    {% block description %}<meta name="description" content="YNestA的个人博客">{% endblock %}
    <title>{% block title %}MainBase{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/DialogBox/MyDialogBox/css/box.css">
     <!--[if lte IE 9]>
	<script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="/static/selectivizr-master/selectivizr.js"></script>
    <![endif]-->
    {% block css %}{% endblock %}
</head>
<body data-csrftoken="{{ csrf_token }}">
    <div id="whole_container">
    {% block header %}
        <header>
            <div id="header_drop">
                <img id="header_drop_btn" src="/static/image/common/arrow_drop_down.png" @click.stop="headerDrop">
                <div id="header_drop_list" @click.stop="">
                {% if weibo_user %}
                    <div id="header_drop_user_info">
                        <a href="{{ weibo_user.profile_url }}"><img src="{{ weibo_user.head_img }}"><span>{{ weibo_user.weibo_user_name }}</span></a>
                    </div>
                    <ul>
                        <li><a href="/oAuth/sign_out/">Sign Out</a></li>
                    </ul>
                {% else %}
                    <ul><li><a href="https://api.weibo.com/oauth2/authorize?client_id=2869046962&response_type=code&redirect_uri=http://ynesta.me/oAuth/oAuth_redirect/">Sign In</a></li></ul>
                {% endif %}
                    <div id="header_drop_arrow_border"></div>
                    <div id="header_drop_arrow"></div>
                </div>
            </div>
            <div class="search">
                <input id="search-input" type="text" name={% block searchType %}"search-passage"{% endblock %}>
                <a id="search-button" href="javascript:;"><img src="/static/image/common/search.png"></a>
                <span id="search-shade"></span>
            </div>
            <nav>
                <ul>
                    <a id="logo" href="/home/"><img src="/static/image/common/logo.png"></a>
                    <li><a href="/home/aboutme/">关于我</a></li>
                    <li><a href="/home/books/">书籍</a></li>
                    <li><a href="/home/note/page1">笔记</a></li>
                    <li><a href="/home/thought/page1/">杂谈</a></li>
                </ul>
            </nav>
        </header>
    {% endblock %}
    {% block center %}
    {% endblock %}
    </div>
    {% block footer %}
        <footer>
        <span id="power_info">powered by Yang xy</span>
        <a class="github" target="_blank" href="https://github.com/YNestA">
            <img src="/static/image/common/my-github.png">
        </a>
        <a id="go-top" href="javascript:void (0);"></a>
        </footer>
    {% endblock %}
    <script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/js/vue.js"></script>
    <script type="text/javascript" src="/static/js/dealCSRF.js"></script>
    <script type="text/javascript" src="/static/DialogBox/MyDialogBox/js/jquery.myDialogBox-1.0.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    {% block js %}{% endblock %}
</body>
</html>